/* NAV BAR */

ul{
    list-style-type: none;
    display: inline;
}
ul li{
    padding: 5px 10px;
    display: inline;
}
#header1{
    background-color: #10243B;
    text-transform: uppercase;
    color: white;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 9pt;
}
#header2{
    background-color: #10243B;
    text-transform: uppercase;
    color: #a3dde8;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 9pt;
 
}

#header3{
    background-color: #005983;
    text-transform: uppercase;
    color: white;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 9pt;

}

/* HERO SECTION */

#HeroSection{
    width: 100%;
    height: 90vh;
    background-image: url(images/graduation.jpg);
    background-repeat: no-repeat;
    background-size: cover
}
img{
    vertical-align: middle;
}

/* EXPLORE CCHS */

#explorecchs{
    height: 500px;
    width: 100%;
    background-color: #10243B;
}
#exploreheader{
    height:100px;
    width: 100%;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    vertical-align: middle;
    color: #ffffff;
}
#exploresection{
    height: 400px;
    width: 100%;
}
.exploreblock{
    height: 400px;
    width: 24.5%;
    display: inline-block
}
#explorepatriot{
    background-image:url(images/patriots\ plaza.jpg);
    background-size: cover;
    vertical-align: middle;
}
#explorecolleges{
    background-image:url(images/college.png) ;
    background-size: cover;
    vertical-align: middle;
}
#exploreccnnboys{
    background-image:url(images/ccnn.jpg) ;
    background-size: cover;
    vertical-align: middle;
}
#exploreccnntext{
    background-image:url(images/ccnn\ live.png) ;
    background-size: cover;
    vertical-align: middle;
}
/* CCHS AT A GLANCE */
#CCHSGlance{
    text-transform: uppercase;
    color: #00344C;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 3em;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0px;
}
.glanceblock{
    height: 400px;
    width: 24.5%;
    display: inline-block;
}
.glanceheader{
    color: #ca0d33;
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 1.875em;
    font-weight: bold;
    text-align: center;
}
.glancelower{
    color: #333333;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}
.caroselimg{
    transform: translate(50%);
}

/* COURSES OFFERED */

#coursesofferedtext{
    vertical-align: middle;
    text-align: center;
    background-color: #10243B;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
}
#coursesofferedtext{
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 2.25em;
    box-sizing: content-box;
    width: 80%;
    margin:auto;
}

/* GRADUATES */

#graduatediv{
    height:5px;
    width:100%;
    color: black;
}
#graduateheader{
    text-align: center;
    font-size: 12px;
    text-transform: none;
    color: #00344C;
    margin-bottom: 30px;
    font-weight: bold;
}
#graduatesection{
    height: 400px;
    width: 100%;
}
.graduateblock{
    height: 400px;
    width: 19.5%;
    display: inline-block;
}
#fsu{
    background-image:url(images/mit.png);
    background-repeat: no-repeat;
    background-size: auto;
}
#georgetown{
    background-image:url(images/northcarolina.png) ;
    background-repeat: no-repeat;
    background-size: auto;
}
#gt{
    background-image:url(images/um.png) ;
    background-repeat: no-repeat;
    background-size: auto;
}
#gw{
    background-image:url(images/wakeforest.png) ;
    background-repeat: no-repeat;
    background-size: auto;
}
#harvard{
        background-image:url(images/yale.png) ;
        background-repeat: no-repeat;
        background-size: auto;
}

/* FOOTER */

#footernav{
    padding: 12.5px 25px 12.5px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #0088cc;
    background-color: #10243B;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #0088cc;
    background-color: #10243B;
    padding: 12.5px 25px 12.5px 0;
}
#leftfoot{
    display: inline-block;
}
#rightfoot{
    display: inline-block;
    margin-left: 19%;
}
#realfooter{
    background-color: #333333;
    width: 100%;
    height: 400px;
}
#cchsaddress{
    height: 200px;
    width: 100%;
    display: inline-block;

}
.addressbox{
    height: 100px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .05em;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

#sitemap{
    margin-left: 34%;
}
#cchsfinalfooter{
    height: 100px;
    width: 100%;
    display: inline-block;

}
.finalfooterbox{
    height: 100px;
    width: 50%;
    display: inline-block;
    font-style: italic;
    margin-bottom: 50px;
    opacity: .5;
    font-size: 11px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    font-weight: lighter;
    text-decoration: none
}

#finalfooterimage{
    margin-left: 30%;
    vertical-align: top
}
