
ul{
    list-style-type: none;
    display: inline;
}
ul li{
    padding: 5px 10px;
    display: inline;
}
#header1{
    background-color: #10243B;
    text-transform: uppercase;
    color: white;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 9pt;
}
#header2{
    background-color: #10243B;
    text-transform: uppercase;
    color: #a3dde8;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 9pt;
 
}

#header3{
    background-color: #005983;
    text-transform: uppercase;
    color: white;
    padding: 20px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 9pt;

}
#HeroSection{
    width: 100vw;
    height: 100vh;
    background-image: url(images/graduation.jpg);
    background-repeat: no-repeat;
    background-size: cover
}
img{
    vertical-align: middle;
}
