
ul{
    list-style-type: none;
    padding: 60px 5px;
    vertical-align: middle;
    background-color: #10243B;
    display: inline;
}

ul li{
    display: inline;

    text-transform: uppercase;
    font-size: 12px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    color: #ffff;
    vertical-align: middle;
}
#headerdiv{
    display:inline;
}
#leftlist{
    padding:20px 24vw 20px 0px;
}
.right{
    box-align: right;
    font-weight: normal;
    color: #a3dde8;
    padding: 30px 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    margin: auto;
    background-color: #10243B;
    vertical-align: middle;
}
#HeroSection{
    width: 100vw;
    height: 100vh;
    background-image: url(images/graduation.jpg);
    background-repeat: no-repeat;
    background-size: cover
}
